.nav{
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 20px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
   
}
.nav:hover{
    background-color: rgb(118, 114, 114);

}
h2{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
.icon{
    font-size: 20px;
    
}